</div>
        </div>

<!-- footer -->
<div class="navbar navbar-footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <footer role="contentinfo">
                    <p class="left">{{$SysLang.common.cmsname}}{{$SysLang.common.version}}{{$SysLang.common.madeby}} <a href="mailto:alucrd263096@126.com">Steve Cai</a></p>
                    <p class="right">&copy; 2014 <a href="http://www.helpfooter.com" target="_blank">Helpfooter.com</a></p>
                </footer>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
$("body").removeClass("hide");
});
</script>