	</div>
</section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<footer class="main-footer  {{if $viewonly=='Y'}}hide{{/if}}" id="footerbar">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2013-2020 <a href="http://www.helpfooter.com">HelpFooter</a>.</strong> All rights
    reserved.
</footer>




    </div>


<!-- SlimScroll -->
<script src="{{$rootpath}}js/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="{{$rootpath}}js/fastclick/fastclick.js"></script>

<!-- AdminLTE App -->
<script src="{{$rootpath}}js/app.min.js"></script>


<script>
$(document).ready(function(){
$("body").removeClass("hide");
});
</script>