{{include  file="$smarty_root/$CmsStyle/header.html" }}

<div class="col-md-12">
    <div class="row content-header">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>概览</h1>
            </div>
        </div>
    </div>
    <section class="content">
      <!-- Small boxes (Stat box) -->
        <div class="row" id="databody">
            





    </section>
</div>

<script>
    $(document).ready(function ()
    {
        $.getJSON(userpath+"api/dashboard/summary", function (list)
        {
            var str = "";
            for (var i = 0; i < list.length; i++)
            {
                var item = list[i];
                if (item.type == "smallbox")
                {
                    str += '<div class="col-md-3"><div class="small-box bg-green" >';
                    str += '<div class="inner">';
                    str += '<h3>' + item.value+'</h3>';
                    str += '<p>' + item.name + '</p>';
                    str += '</div>';
                    str += '<a href="' + userpath +item.morelink+'" class="small-box-footer">查看更多<i class="fa fa-arrow-circle-right"></i></a>';
                    str += '</div ></div>';
                } else if (item.type=="todolist")
                {
    
                    str += '<div class="col-md-4"><div class="box box-primary">';
                    str += '<div class="box-header">';
                    str += '<i class="ion ion-clipboard"></i>';
                    str += '<h3 class="box-title">'+item.name+'</h3>';
                    str += '</div>';
                    str += '<div class="box-body">';
                    str += '<ul class="todo-list">';
                    for (var j = 0; j < item.data.length; j++)
                    {
                        var data = item.data[j];
                        str += '<li>';
                        str += '<span class="handle">';
                        str += '<i class="fa fa-ellipsis-v"></i>';
                        str += '<i class="fa fa-ellipsis-v"></i>';
                        str += '</span>';
                        str += '<span class="text"><a href="' + (data.link=="#"?"#": userpath + data.link) +'"  target="_blank" >' + data.title+'</a></span>';
                        str += '<small class="label label-' + data.priority+'"><i class="fa fa-clock-o"></i> ' + data.time+'</small>';
                        str += '</li>';
                    }
                    str += '</ul>';
                    str += '</div>';
                    str += '</div></div>';
                }
            }
            $("#databody").append(str);

        });
    });
</script>




{{include  file="$smarty_root/footer.html" }}