
        <style type="text/css">
			.panel-bootstrap-switch,
            .panel-bootstrap-switch .bootstrap-admin-panel-content{
                float: left;
            }
            .panel-bootstrap-switch .buttons-group{
                margin-top: 0;
            }
            .panel-bootstrap-switch .buttons-group .has-switch{
                margin-top: 10px;
            }
            .panel-bootstrap-switch #btn-destroy-switch,
            .panel-bootstrap-switch #btn-create{
                margin-top: 5px;
            }
            .panel-bootstrap-switch #btn-destroy-switch{
                margin-bottom: 10px;
            }
            .panel-bootstrap-switch .bootstrap-switch-footer{
                margin-top: 20px;
            }
            #searchResult th{
                max-width:250px;
                word-wrap:break-word;
            }
            #searchResult td{
                max-width:250px;
                word-wrap:break-word;
            }
            .gridResult th{
                max-width:150px;
                word-wrap:break-word;
            }
            .gridResult td{
                max-width:150px;
                word-wrap:break-word;
            }
            .gridResult img{
                max-width:50px;
            }
            #searchResult img{
                max-width:50px;
            }
        </style>
        <!-- Vendors -->
        <link rel="stylesheet" media="screen" href="{{$rootpath}}vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
        <link rel="stylesheet" media="screen" href="{{$rootpath}}css/datepicker.fixes.css">
        <link rel="stylesheet" media="screen" href="{{$rootpath}}vendors/uniform/themes/default/css/uniform.default.min.css">
        <link rel="stylesheet" media="screen" href="{{$rootpath}}css/uniform.default.fixes.css">
        <link rel="stylesheet" media="screen" href="{{$rootpath}}vendors/chosen.min.css">
        <link rel="stylesheet" media="screen" href="{{$rootpath}}vendors/selectize/dist/css/selectize.bootstrap3.css">
        <link rel="stylesheet" media="screen" href="{{$rootpath}}vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/core-b3.css">
        <link rel="stylesheet" media="screen" href="{{$rootpath}}css/DT_bootstrap.css">        
		<link href="https://cdn.bootcss.com/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css" rel="stylesheet">
        <!-- Bootstrap Switch (the On-Off buttons) -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link rel="stylesheet" href="{{$rootpath}}vendors/bootstrap-switch/build/css/bootstrap3/bootstrap-switch.min.css">
        <link rel="stylesheet" href="{{$rootpath}}css/bootstrap-switch-small.css">
		<link href="https://cdn.bootcss.com/select2/4.0.8/css/select2.min.css" rel="stylesheet">

        <!-- Bootstrap Switch (the On-Off buttons). Theme's styles. -->
        <link rel="stylesheet" media="screen" href="{{$rootpath}}css/bootstrap-theme-switch.min.css">

        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->



        <script type="text/javascript" src="{{$rootpath}}js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="{{$rootpath}}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{$rootpath}}js/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="{{$rootpath}}js/bootstrap-admin-theme-change-size.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/uniform/jquery.uniform.min.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/chosen.jquery.min.js"></script><!-- bootstrap color picker -->
		<script src="https://cdn.bootcss.com/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.min.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/selectize/dist/js/standalone/selectize.min.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/javascripts/bootstrap-wysihtml5/wysihtml5.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/javascripts/bootstrap-wysihtml5/core-b3.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/twitter-bootstrap-wizard/jquery.bootstrap.wizard-for.bootstrap3.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/boostrap3-typeahead/bootstrap3-typeahead.min.js"></script>
        <script type="text/javascript" src="/vendors/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/vendors/ckeditor/adapters/jquery.js"></script>
        <script type="text/javascript" src="/vendors/ckeditor/ckfinder/ckfinder.js"></script>
        <script type="text/javascript" src="{{$rootpath}}js/ajaxfileupload.js"></script>
        <script type="text/javascript" src="{{$rootpath}}vendors/bootstrap-switch/build/js/bootstrap-switch.min.js"></script>
		<script type="text/javascript" src="{{$userpath}}myjs/init.js"></script>
		<script src="{{$rootpath}}vendors/highcharts/highcharts.js"></script>
		<script type="text/javascript" src="{{$userpath}}myjs/SystemGlobal.js"></script>
		<script src="https://cdn.bootcss.com/select2/4.0.8/js/select2.min.js"></script>

 <link rel="stylesheet" type="text/css" href="{{$rootpath}}vendors/datatables/datatables.min.css"/>
 
<script type="text/javascript" src="{{$rootpath}}vendors/datatables/datatables.min.js"></script>
 

    <script type="text/javascript">
        var userpath="{{$userpath}}";
        var primary_id="{{$id}}";
		var now="{{$now}}";
    </script>
	
	<style>
	body{
		font-size:12px;
	}
	</style>