
                <!-- left, vertical navbar -->
                <div class="col-md-2 bootstrap-admin-col-left" id="leftbar">
                    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                        {{foreach from=$SystemMenu.mainmenus.mainmenu item=rs}}
                        {{if $rs.module==$MyModule}}
                            {{foreach from=$rs.submenus.submenu item=sub}}
                            {{if $sub.onlyadmin!="1"||$SysUser.is_admin=="Y"}}
                        {{if $sub.nolist=="1"}}
                        <li {{if $sub.model|cat:"_add"==$MyMenuId}} class="active" {{/if}}>
                            <a href="{{$userpath}}{{$rs.module}}/{{$sub.model}}"><i class="glyphicon glyphicon-chevron-right"></i> {{$sub.name}}</a>
                        </li>
                        {{else}}
                        <li {{if $sub.model|cat:"_list"==$MyMenuId}} class="active" {{/if}}>
                            <a href="{{$userpath}}{{$rs.module}}/{{$sub.model}}"><i class="glyphicon glyphicon-chevron-right"></i> {{$sub.name}}{{$SysLang.model.list}}</a>
                        </li>
                        <li {{if $sub.model|cat:"_add"==$MyMenuId}} class="active" {{/if}}>
                            <a href="{{$userpath}}{{$rs.module}}/{{$sub.model}}?action=add"><i class="glyphicon glyphicon-chevron-right"></i> {{$sub.name}}{{$SysLang.model.add}}</a>
                        </li>
                        {{/if}}
                            {{/if}}
                            {{/foreach}}
                        {{/if}}
                        {{/foreach}}
                        {{if $MyModule=="admin"}}
                        <li {{if "dashboard"==$MyMenuId}} class="active" {{/if}}>
                            <a href="{{$userpath}}Admin/dashboard"><i class="glyphicon glyphicon-chevron-right"></i> {{$SysLang.common.dashboard}}</a>
                        </li>
                        <li {{if "about"==$MyMenuId}} class="active" {{/if}}>
                            <a href="{{$userpath}}Admin/about"><i class="glyphicon glyphicon-chevron-right"></i> {{$SysLang.common.aboutus}}</a>
                        </li>
                        {{if $SysUser.is_admin=="Y"}}
                        <li {{if "user_list"==$MyMenuId}} class="active" {{/if}}>
                            <a href="{{$userpath}}Admin/user"><i class="glyphicon glyphicon-chevron-right"></i> {{$SysLang.common.user}}{{$SysLang.model.list}}</a>
                        </li>
                        <li {{if "user_add"==$MyMenuId}} class="active" {{/if}}>
                            <a href="{{$userpath}}Admin/user?action=add"><i class="glyphicon glyphicon-chevron-right"></i> {{$SysLang.common.user}}{{$SysLang.model.add}}</a>
                        </li>
                        {{/if}}
                        {{/if}}
                    </ul>
                </div>

                <script type="text/javascript">
                    $(document).ready(function(){
                        if($("#leftbar ul li").length==0){
                            $("#leftbar").removeClass("col-md-2").addClass("col-md-1");
                        }
                    });
                </script>